* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 375px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5%;
  background: linear-gradient(45deg, #000000, transparent);
}

.page {
  width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

img {
  width: 80%;
}

h1 {
  color: #434141;
  width: 100%;
}

h2 {
  color: rgb(70, 55, 55);
  width: 100%;
}

h3 {
  color: aliceblue;
  font-size: 1em;
  width: 100%;
  margin: 2% 0;
}

a {
  color: rgb(189 177 177);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 52%;
  height: 69%;
  border: 2px solid;
  padding: 4%;
  background-color: rgb(48 43 43 / 23%);
  border-radius: 50px;
  box-shadow: 0 0 20px rgb(58, 57, 59);
}

.accounts {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 2%;
  width: 50%;
  background-color: #7b8a9763;
  border-radius: 10px;
  box-shadow: 0 0 10px;
}

.account {
  width: 50%;
}
input {
  padding: 2%;
}

button {
  padding: 2%;
  background-color: #514848;
}

p span {
  font-weight: 600;
}
